// OpenSans font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

@font-face {
  font-family: "Open Sans Regular";
  src: url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Regular-webfont.woff")
      format("woff"),
    url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Regular-webfont.ttf")
      format("truetype"),
    url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Semibold-webfont.woff")
      format("woff"),
    url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Semibold-webfont.ttf")
      format("truetype"),
    url("../../arDominionPlugin/vendor/fonts/open-sans/OpenSans-Semibold-webfont.svg#OpenSansRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

// Bootstrap v2
@import "../../../vendor/bootstrap/less/reset.less";
@import "../../arDominionPlugin/css/less/variables";
@import "../../arDominionPlugin/css/less/loader-bootstrap";
@import "../../arDominionPlugin/css/less/loader-yui";

// arDominionPlugin
@import "../../arDominionPlugin/css/less/mixins.less";
@import "../../arDominionPlugin/css/less/scaffolding.less";
@import "../../arDominionPlugin/css/less/type.less";
@import "../../arDominionPlugin/css/less/pager.less";
@import "../../arDominionPlugin/css/less/search.less";
@import "../../arDominionPlugin/css/less/header.less";
@import "../../arDominionPlugin/css/less/treeview.less";
@import "../../arDominionPlugin/css/less/popovers.less";
@import "../../arDominionPlugin/css/less/description.less";
@import "../../arDominionPlugin/css/less/import.less";
@import "../../arDominionPlugin/css/less/forms.less";
@import "../../arDominionPlugin/css/less/buttons.less";
@import "../../arDominionPlugin/css/less/legacy.less";

// Local tweaks
@queens-blue: #002f5e;
@queens-red: #b81237;
@qul-blue: #406486;
@qul-gray: #8c8c8c;
@link-blue: #1d70ad;

//Dominion overides 
@orange: @queens-blue;

body {
  background-color: white;
  font-size: 14px;
}

h1,
h2,
h3,
h5,
h6 {
  color: @queens-blue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: @link-blue;

  &:hover {
    color: @queens-red;
  }
}

#site-slogan {
  display: none;
}

#top-bar {
  background-color: white;
  border-bottom: 1px solid @qul-gray;
  padding: 1rem;

  .top-item {
    &:before {
      color: @queens-blue;
    }

    &:hover {
      background-color: transparent;

      &:before {
        color: @queens-blue;
      }
    }
  }

  .top-dropdown {
    background-color: @qul-blue;
    color: white;
    background-image: url(../../arDominionPlugin/images/white-arrow.png);
  }

  #search-form-wrapper {
    input {
      background-color: white;
      border: 1px solid @qul-blue;
    }

    button {
      background-color: @qul-blue;
      color: white;
    }
  }
}

// main content area
#content {
  border: 1px solid @qul-gray;

  a {
    font-weight: bold;
  }
}
